{% extends 'base.html.twig' %}

{% block title %}Настройки для модуля MonoBank{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Настройки MonoBank</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Логирование ошибок(на подумать)</a>
    </div>

    {% if app.user %}

    {% endif %}

    <form class="needs-validation" name="settings_liqpay_{{ settingsDataItem.id }}" method="POST" >
        <div class="col-12">
                <label for="apiKey" class="form-label">Связать с аккаунтом RetailCRM</label>
                <select name="api_key" id="apiKey" class="form-select">
                    <option selected>Выбрать API ключи RetailCRM</option>
                    {% for connectionDataItem in connectionData %}
                    <option value="{{ connectionDataItem.id }}"
                            {%  if settingsDataItem.connectionId is defined
                                and settingsDataItem.connectionId == connectionDataItem.id  %}
                                  selected {% endif %}>
                        {{ connectionDataItem.name }}
                    </option>
                    {% endfor %}
                </select>
{#                    <input type="checkbox" class="form-check-input" name="mode" id="apiKey"#}
{#                       value="test" {%  if connectionDataItem.settings.mode == "test"  %} checked{% endif %}>#}

            </div>
        <div class="form-check">
            <label for="apiKey" class="form-label">Добавьте магазин(ы) для которого доступен модуль</label>
            <a id="add_shops" onclick="return addField()" class="link-primary" ><i class="fa fa-plus-square"></i></a>

        </div>
        <div class="form-check row-lg-12">
            <div class="row-cols-lg-1 d-inline-block" style="width: 10%">активен</div>
            <div class="row-cols-lg-3 d-inline-block" style="width: 40%">название магазина</div>
            <div class="row-cols-lg-3 d-inline-block" style="width: 40%">символьный код</div>
        </div>
        <div id="shops" class="flex-nowrap shops">
            <div class="input-group mb-3">
                {% set index_s = 0 %}
            {% for shopsItem in shopsLists %}
                <div class="input-group mb-3">
                    <div class="input-group-text"><input type="checkbox" class="mt-0"
                                                         name="shop_name[{{ loop.index }}][active]" id="shop-code-1" value="active"
                        {% if  shopsItem.active == true %}
                            checked
                                {% endif %}
                        ></div>
                    <input type="text" class="form-control" name="shop_name[{{ loop.index }}][name]" id="shop-name-1" value="{{ shopsItem.name }}" required>
                    <input type="text" class="form-control" name="shop_name[{{ loop.index }}][code]" id="shop-code-1" data-index="{{ loop.index }}" value="{{ shopsItem.code }}" required>
                    <a onclick="return deleteField(this)" class="input-group-text" href="#"><i class="fa fa-times"></i></a>
                </div>
                {% if loop.last %}
                    {% set index_s = loop.index+1 %}
                {% endif %}
            {% endfor %}
                <div class="input-group-text"><input type="checkbox" class=" mt-0" name="shop_name[ {{ index_s }}][active]" id="shop-code-1" value="active"></div>
                <input type="text" class="form-control" name="shop_name[{{ index_s }}][name]" id="shop-name-1" value="" >
                <input type="text" class="form-control" name="shop_name[{{ index_s }}][code]" id="shop-code-1" value="" data-index="{{ index_s }}" >
                <a class="input-group-text"  href="#"> </a>
            </div>
        </div>

        <hr class="my-4">
        <div class="col-lg-12">
            <input type="text" class="form-control" name="module_name" id="module_name"
                   value="{% if settingsDataItem.settings.moduleName is defined  %}{{ settingsDataItem.settings.moduleName }}{% endif %}" required>
            <label for="module_name" class="form-check-label">Название модуля в RetailCrm</label>
        </div>
        <div class="col-lg-12">
            <input type="checkbox" class="form-check-input " name="mode" id="mode_{{ settingsDataItem.id }}"
                   value="test" {%  if settingsDataItem.settings.mode == "test"  %} checked{% endif %}>
            <label for="mode_{{ settingsDataItem.id }}" class="form-check-label">Тестовый режим работы</label>
        </div>
        <hr class="my-4">
        <div class="col-12">
            <label for="shop-id" class="form-label">Название магазина в RetailCRM</label>
            <input type="text" class="form-control" name="shopName" id="shop-id"
                   placeholder="Символьный код магазина в RetailCRM" value="{% if settingsDataItem.settings.shopName is defined  %}{{ settingsDataItem.settings.shopName }}{% endif %}" required>
            <div class="invalid-feedback">
                Введите название магазина
            </div>
        </div>
        <div class="col-12">
            <label for="api_token" class="form-label">API для получения информации о выписки и состояние лицевого
                счета. Для предоставления доступа нужно пройти авторизацию в личном кабинете <a href="https://api.monobank.ua/" class="link-primary" target="_blank">https://api.monobank.ua/</a> и получить токен для персонального использования.</label>
            <input type="text" class="form-control" name="api_token" id="api_token" value="{% if settingsDataItem.settings.api_token  is defined %}{{ settingsDataItem.settings.api_token }}{% endif %}" placeholder="API токен " required>
            <div class="invalid-feedback">

            </div>
        </div>
        <div class="col-12">
            <label for="invoice-link" class="form-label">Ссылка на пополнение карты MonoBank. (Можно определить в разделе Пополнить карту -> Пополнить карту по ссылке)</label>
            <input type="text" class="form-control" name="invoice_link" id="invoice-link" value="{% if settingsDataItem.settings.invoiceLink is defined %}{{ settingsDataItem.settings.invoiceLink }}{% endif %}" placeholder="ссылка" required>
            <div class="invalid-feedback">

            </div>
        </div>
        <div class="col-12">
            <label for="invoice_lifetime_hours" class="form-label">Время актуальности счета(Часов)</label>
            <input type="text" class="form-control" name="invoice_lifetime_hours" id="invoice_lifetime_hours" placeholder="24"
                   value="{{ settingsDataItem.settings.invoice_lifetime_hours }}" required>
            <div class="invalid-feedback">
                Пожалуйства заполните время жизни заказа.
            </div>
        </div>
        <div class="col-12">
            <div class="col-6 d-inline-block">
                <label for="description" class="form-label">Поле "комментарий" к счету</label>
                <textarea class="form-control d-inline-block" name="description" id="description"
                          placeholder="Оплата по заказу" required>{{ settingsDataItem.settings.description }}</textarea>
                <span class="d-inline-block"> Для подстановки в текст комментария шаблона
                        <ul><li>название магазина ^shopName^</li>
                            <li>номера заказа ^orderNumber^</li></ul>
                    </span>
                <div class="invalid-feedback">Заполните описание к выставленному счету</div>

            </div>
        </div>
        <hr class="my-4">
        <div class="col-lg-12">
            <label for="ID_manager" class="form-check-label">ID менеджер в RetailCrm</label>
            <input type="text" class="form-control" name="managerId" id="ID_manager"
                   value="{% if settingsDataItem.settings.managerId is defined  %}{{ settingsDataItem.settings.managerId }}{% endif %}">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="taskToManagerOn" id="set-task"
                    {%  if settingsDataItem.settings.taskToManagerOn is defined and settingsDataItem.settings.taskToManagerOn == 1  %} checked{% endif %} value=1>
            <label for="set-task" class="form-check-label">Создавать задачу на менеджера
                ( введите ID менеджера в системе RetailCRM. Посмотреть его можно адресной строке
                браузера https://Ваш аккаунт.retailcrm.ru/admin/users/ID нужного менеджера/edit#t-main)</label>
        </div>
        <hr class="my-4">
        <input type="hidden" name="id" value="{{ settingsDataItem.id }}"/>
        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
        <div class="col-12">
            <span class="col-2 d-inline-block">
        <button class="btn btn-outline-primary" type="submit" name="save_{{ settingsDataItem.id }}"><i class="fa fa-save">Сохранить</i></button>
            </span>
            <span class="col-2 d-inline-block">
        <button class="btn btn-outline-danger" type="submit" name="dell" value="{{ settingsDataItem.id }}"><i class="fa fa-eraser">Удалить</i></button>
            </span>
            {% if modulesActivate == true %}
            <span class="col-2 d-inline-block">
                <a href="{{ path('account_activate_module',{'codeModule':module.code,'id': settingsDataItem.id }) }}"
                   class="btn btn-outline-success " >
                    <i class="fa fa-link ">Добавить модуль</i>
                </a>
            </span>
                <span class="col-2 d-inline-block">
                <a href="{{ path('account_deactivate_module',{'codeModule':module.code,'id': settingsDataItem.id }) }}"
                   class="btn btn-outline-dark " >
                    <i class="fa fa-link ">Деактивировать</i>
                </a>
            </span>
            {% endif %}
            <span class="col-2 d-inline-block">
                {% if settingsDataItem.settings.statusWebhook is defined and settingsDataItem.settings.statusWebhook==1%}
                    <a href="{{ path('mono_bank_delwebhook',{'codeModule':module.code, 'id': settingsDataItem.id }) }}"
                       class="btn btn-outline-success " >
                    <i class="fa fa-allergies ">Отключить WebHook</i>
                </a>
                {% else%}
                <a href="{{ path('mono_bank_addwebhook',{'codeModule':module.code, 'id': settingsDataItem.id }) }}"
                   class="btn btn-outline-success" >
                    <i class="fa fa-link ">Добавить WebHook</i>
                </a>
                {% endif %}
            </span>
        </div>
    </form>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/assets/js/module_form.js') }}" ></script>
{% endblock %}